---
import Layout from '@/layouts/Layout.astro';
import BlogPost from '@/components/BlogPost.astro';
import { getPosts, getTags } from '@/components/posts';

export async function getStaticPaths() {
    const posts = await getPosts();
    const uniqueTags = await getTags();
    return uniqueTags.map((tag) => {
        const filteredPosts = posts.filter((post) =>
            post.data.tags.includes(tag),
        );
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const pageTitle = `Tag: ${tag}`;
---

<Layout pageTitle={pageTitle}>
    <hgroup>
        <h1>{pageTitle}</h1>
        <p><i>Articles tagged with “{tag}”</i></p>
    </hgroup>
    {posts.map((post) => <BlogPost post={post} />)}
</Layout>
